.card-container {
  height: 70vh;
  position: relative;
  border: 1px solid #01bf71;
  width: 49vw;
  overflow: hidden;
}

.card-image {
  position: absolute;
  height: 100%;
  width: auto;
}

.card-image-active {
  position: absolute;
  margin: auto;
  height: 100%;
  width: auto;
  animation: halfFadeOut ease;
  animation-duration: 3s;
  animation-fill-mode: both;
}

.card-text {
  position: absolute;
  text-align: center;
  color: white;
  top: 12%;
  width: inherit;
  z-index: 1;
  opacity: 0%;
}

.card-text-active {
  position: absolute;
  text-align: center;
  color: white;
  top: 12%;
  width: inherit;
  z-index: 1;
  opacity: 100%;
  animation: fullFadeIn ease;
  animation-duration: 3s;
  animation-fill-mode: both;
}

.card-text-h1 {
  font-size: 24px;
  font-weight: 600;
  color: #01bf71;
  letter-spacing: 2px;
  padding-bottom: 20px;
}

.card-text-p {
  padding: 0% 12.5%;
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  line-height: 2;
}

@media screen and (min-width: 480px) {
  .card-text-h1 {
    font-size: 36px;
  }

  .card-text-p {
    font-size: 24px;
  }
}

@keyframes halfFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes fullFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
