.contact-container {
  height: 100vh;
  position: relative;
  padding: 90px 0px;
}

.contact-intro-form-container {
  z-index: 3;
  padding: 20px 0;
  margin: auto;
  align-items: center;
}

.form-container {
  height: max-content;
  width: 80%;
  border-radius: 20px;
  margin: auto;
  background: rgba(247, 247, 247, 0.154);
  backdrop-filter: blur(4.4px);
  border: 1px solid #01bf71;
}

form {
  position: relative;
  margin: 5%;
  text-align: center;
  padding: 2.5%;
}

input {
  width: 100%;
  padding: 5%;
  margin-bottom: 7%;
  border-radius: 20px;
  background: transparent;
  font-size: 18px;
  border: none;
  backdrop-filter: blur(5px);
  color: #fff;
  font-weight: 500;
}

textarea {
  width: 100%;
  height: 100px;
  border-radius: 20px;
  background: transparent;
  padding: 5%;
  margin-bottom: 5%;
  font-size: 1rem;
  color: white;
  border: none;
  backdrop-filter: blur(5px);
  font-weight: 500;
}

.send-button {
  background-color: #01bf71;
  color: rgb(0, 0, 0);
  font-weight: 500;
  margin: 0;
}

textarea:focus {
  outline: solid;
  outline-color: #01bf71;
}

input:focus {
  outline: solid;
  outline-color: #01bf71;
}

.contact-intro-container {
  z-index: 3;
  padding: 0 24px 14px;
  width: 90%;
  text-align: center;
  margin: auto;
}

.contact-intro-container p {
  color: white;
  font-size: 18px;
  font-weight: 300;
  padding-top: 5%;
}

.key-word {
  color: #01bf71;
}

.contact-image-container {
  width: 1%;
  height: 1vh;
  visibility: hidden;
}
.contact-image {
  width: 1%;
  height: 1vh;
  visibility: hidden;
  filter: grayscale(100);
}

.contact-image:hover {
  transition: all 1s ease;
  filter: grayscale(15%);
}

@media (min-width: 768px) {
  .contact-intro-container p {
    font-size: 24px;
  }

  .form-container {
    padding-bottom: 1%;
  }

  input {
    width: 48%;
    padding: 2%;
    margin: 0% 1%;
    font-size: 24px;
    margin-bottom: 2%;
  }

  textarea {
    width: 98%;
    padding: 2%;
    font-size: 24px;
    margin: 0 1%;
    margin-bottom: 1%;
  }
  .send-button {
    width: 25%;
    float: right;
  }
}

@media (min-width: 1024px) {
  .contact-intro-form-container {
    height: 80vh;
    z-index: 3;
    max-width: 70%;
    padding-top: 80px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
  }
  .contact-intro-container {
    z-index: 3;
    padding: 0px 24px 24px;
    width: 100%;
    height: 50vh;
    text-align: center;
    position: relative;
    visibility: visible;
    overflow: visible;
  }

  .contact-image-container {
    width: 100%;
    height: 40%;
    padding-top: 5%;
    margin: auto;
  }

  .contact-image {
    height: 300px;
    width: 400px;
    z-index: 2;
    left: 0;
    border: 1px solid #01bf71;
    visibility: visible;
    position: initial;
  }
  .contact-image-background {
    height: 310px;
    width: 400px;
    background-color: #01bf71;
    top: -295px;
    left: 15px;
    position: relative;
    border-style: solid;
    border-width: 5px;
    border-color: #313131;
    z-index: -1;
    border-radius: 5px;
    visibility: visible;
    margin: auto;
  }
  .form-container {
    width: 100%;
    position: inherit;
    left: 10%;
  }
  input {
    width: 100%;
    height: 50px;
    padding: 2.5%;
    font-size: 24px;
    margin-bottom: 3%;
  }
  textarea {
    width: 100%;
    padding: 2.5%;
    font-size: 24px;
    height: 300px;
    margin-bottom: 3%;
  }
  .send-button {
    width: 25%;
    float: right;
    margin-bottom: 2%;
  }

  .contact-image:hover + .contact-image-background {
    background-color: #00fc93;
    top: -280px;
    left: 30px;
    transition: all 0.5s ease;
  }
}
