.intro-container {
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 90vh;
  position: relative;
  z-index: 1;
  padding-top: 60px;
}

.intro-text {
  z-index: 3;
  position: absolute;
  padding: 0px 24px;
  display: flex;
  flex-direction: column;
}

.intro-text p {
  margin-top: 24px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 24px;
  text-align: center;
  max-width: 1000px;
}

.key-word{
  color: #01bf71;
}

@media screen and (max-width: 768px) {
  .intro-text p {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .intro-text p {
    font-size: 18px;
  }
}

.technology-container-child1 {
  position: absolute;
  animation: float 6s ease-in-out infinite;
}
.technology-container-child2 {
  position: absolute;
}
.technology-container-child3 {
  position: absolute;
  display: block;
  margin: auto;
}
.technology-container-child4 {
  position: absolute;
  animation: float 8s ease-in-out infinite;
}
.technology-container-child5 {
  position: absolute;
}
.technology-container-child6 {
  position: absolute;
}
.technology-container-child7 {
  position: absolute;
  animation: float 9.5s ease-in-out infinite;
}
.technology-container-child8 {
  position: absolute;
}

.typescript {
  top: 49%;
  left: 5%;
}

.typescript-text {
  color: #3178c6;
}

.javascript {
  top: 52%;
  right: 5%;
}

.javascript-text {
  color: #f7df1e;
}

.nodejs {
  top: 58%;
  left: 10%;
}

.nodejs-text {
  color: #6cc24a;
}

.graphql {
  top: 67%;
  right: 10%;
}

.graphql-text {
  color: #e535ab;
}

.react {
  top: 72%;
  left: 20%;
}

.react-text {
  color: #00d8ff;
}

.mongo {
  top: 80%;
  right: 15%;
}

.mongo-text {
  color: #589636;
}

.css {
  top: 85%;
  left: 10%;
}

.css-text {
  color: #264de4;
}

.html {
  top: 90%;
  right: 35%;
}

.html-text {
  color: #e34f26;
}

h3 {
  font-size: 28px;
  display: flex;
  flex: content;
  font-weight: 600;
}

.technology-logo {
  height: 1em;
  padding-left: 3%;
}

.tech-container {
  display: flex;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@media screen and (min-width: 480px) {
  .intro-text {
    z-index: 3;
    position: absolute;
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
  }
  .typescript {
    top: 55%;
    left: 10%;
  }

  .javascript {
    top: 55%;
    right: 5%;
  }

  .nodejs {
    top: 68%;
    left: 20%;
  }

  .graphql {
    top: 64%;
    right: 20%;
  }

  .react {
    top: 78%;
    left: 10%;
  }

  .mongo {
    top: 72%;
    right: 15%;
  }

  .css {
    top: 85%;
    left: 40%;
  }

  .css-text {
    color: #264de4;
  }

  .html {
    top: 90%;
    right: 20%;
  }

  h3 {
    font-size: 30px;
    display: flex;
    flex: content;
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) {
  .intro-text {
    z-index: 3;
    position: absolute;
    padding: 60px 24px;
    display: flex;
    flex-direction: column;
  }
  .typescript {
    top: 47%;
    left: 10%;
  }

  .javascript {
    top: 47%;
    right: 10%;
  }

  .nodejs {
    top: 58%;
    left: 20%;
  }

  .graphql {
    top: 58%;
    right: 20%;
  }

  .react {
    top: 72%;
    left: 20%;
  }

  .mongo {
    top: 72%;
    right: 15%;
  }

  .css {
    top: 90%;
    left: 30%;
  }

  .css-text {
    color: #264de4;
  }

  .html {
    top: 90%;
    right: 30%;
  }

  h3 {
    font-size: 42px;
    display: flex;
    flex: content;
    font-weight: 600;
  }
}

@media screen and (min-width: 1024px) {
  .intro-text {
    z-index: 3;
    position: absolute;
    padding: 60px 24px;
    display: flex;
    flex-direction: column;
  }
  .typescript {
    top: 57%;
    left: 6%;
  }

  .javascript {
    top: 57%;
    right: 6%;
  }

  .nodejs {
    top: 58%;
    left: 28%;
  }

  .graphql {
    top: 58%;
    right: 28%;
  }

  .react {
    top: 72%;
    left: 20%;
  }

  .mongo {
    top: 72%;
    right: 15%;
  }

  .css {
    top: 75%;
    left: 43%;
  }

  .css-text {
    color: #264de4;
  }

  .html {
    top: 90%;
    right: 43%;
  }

  h3 {
    font-size: 48px;
    display: flex;
    flex: content;
    font-weight: 600;
  }
}
