.hero-container {
  background-color: #0c0c0c;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 180px 30px 0px;
  height: 100vh;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .hero-container {
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .hero-container {
    display: flex;
  }
}

.hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background: #232a34;
  opacity: 80%;
}

.hero-content {
  z-index: 3;
  max-width: 100vw;
  position: absolute;
  padding: 8px 24px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

@media screen and (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    /* align-items: center; */
  }
}

@media screen and (max-width: 480px) {
  .hero-content {
    flex-direction: column;
    /* align-items: center; */
  }
}

.hero-content h1 {
  color: #01bf71;
  font-size: 48px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .hero-content h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 480px) {
  .hero-content h1 {
    font-size: 32px;
  }
}

.hero-content h2 {
  color: #01bf71;
  font-size: 36px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .hero-content h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 480px) {
  .hero-content h2 {
    font-size: 32px;
  }
}

.hero-content p {
  margin-top: 24px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 24px;
  text-align: left;
  font-weight: 300;
  max-width: 600px;
}
@media screen and (max-width: 768px) {
  .hero-content p {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .hero-content p {
    font-size: 18px;
  }
}

.hero-image-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-left: 120px;
}

.hero-image {
  width: 300px;
  height: 300px;
  filter: grayscale(100%);
  z-index: 2;
  margin-top: 50%;
  border-radius: 5px;
}

.hero-image:hover {
  transition: all 1s ease;
  filter: grayscale(15%);
}

.hero-image-background {
  width: 300px;
  height: 310px;
  background-color: #01bf71;
  top: -290px;
  left: 15px;
  position: relative;
  border-style: solid;
  border-width: 5px;
  border-color: #313131;
  z-index: 1;
  border-radius: 5px;
}

.hero-image:hover + .hero-image-background {
  background-color: #00fc93;
  top: -280px;
  left: 30px;
  transition: all 0.5s ease;
}

.hero-words {
  padding-bottom: 80px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .hero-image-container {
    padding-left: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .hero-image {
    width: 200px;
    height: 200px;
    filter: grayscale(100%);
    z-index: 2;
    border-radius: 5px;
    margin-top: 0;
  }
  .hero-image-background {
    width: 200px;
    height: 205px;
    background-color: #01bf71;
    top: -190px;
    left: 15px;
    position: relative;
    border-style: solid;
    border-width: 5px;
    border-color: #313131;
    z-index: 1;
    border-radius: 5px;
  }
  .hero-words {
    padding-bottom: 0px;
    padding-right: 0px;
  }
  .hero-image:hover + .hero-image-background {
    background-color: #00fc93;
    top: -180px;
    left: 20px;
    transition: all 0.5s ease;
  }
}

